/* .parent{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(4,50px);
    grid-auto-rows: 50px;

    column-gap: 10px;
    row-gap: 10px;

    background-color: aqua;
}

.child{
    background-color: yellow;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: aquamarine;

    grid-row-start: 1;
    grid-row-end: 4;
}

.menu{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: purple;
}

.main{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: red;
} */

.parent{
    display: grid;
    grid-template-columns: repeat(auto-fit), minmax(100px, 1fr);
}

.child{

    background-color: aqua;
    border: 1px solid red;
    /* min-width: 50px;
    min-width: 100px; */
    min-height: 50px;
    min-height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}