.parent{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: space-evenly;
    /* align-content: ; *//

    align-items: space
    /* align-content: ; */
    }
/* .parent1{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.parent2{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.parent3{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.parent4{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
} */

.child{
    background-color: blanchedalmond;
    border: 1px solid red;
    /* flex-basis: 40px;
    flex-shrink: 0; */
    width: 100px;
}
.logo{
    padding: 40px 10px;
    order: 1;
}
/* .search-box{
    flex-grow: 3;
    flex-shrink: 1;
    
} */

.cart{
    flex-grow: 1;
}