*{
    /* padding: 0; */
    /* margin: 0; */
    /* box-sizing: border-box; */
    /* width= border(l&r)+content+padding ; */
    /*height */
}
/* html{
    font-size: 20px;
}



.parent{
    font-size: 10px;
}

.child{
    font-size: 20px;
    background-color: aqua;
    width: 10rem;
} */

/* .btn{
    display: block;
    background-color: rgb(193, 187, 187);
    padding: 16px;
    border-radius: 8px;
    border: none;
    margin: 10px auto;
    font-size: 16px;
    width: 10em;
}

.btn-small{
    display: block;
    padding: 1em;
    border-radius: 4px;
    border: none;
    margin: auto;
    font-size: 16px;
    width: 10em;
}

.btn-big{
    background-color: azure;
    font-size: 16px;
    display: block;
    padding: 1em;
    border-radius: 6px;
    border:  none;
    margin: 10px auto;
    width: 10em;
} */

/* body{
    height: 50vh;
    width: 50vw;
    background-color: aqua;
}

.parent{
    height: 100%;
    background-color: rgb(61, 183, 52);
}

.child{
    width: 25%;
    min-height: 200%;
    padding: 16px 32px;
    background-color: rgb(240, 75, 15);
    max-height: 300px;
    overflow: scroll;
} */

/* .parent{
    ol{
        background-color: rgb(249, 246, 251);
        li:nth-child(3){
            background-color: blueviolet;
        }
    }

    }
    ul:first-child{
        background-color: rgb(247, 130, 20);
    }
    ul:last-child{
        background-color: rgb(57, 243, 33);
        li:nth-of-type(2){
            background-color: red;
        }
    } */

    .parent ul{
        background-color: red;
    }
    .parent>ul{
        background-color: yellow;
    }

    .parent+ul{
        background-color: rgb(0, 255, 51);
    }